BasedOnStyle: Microsoft
IndentWidth: 4

---

Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left

AccessModifierOffset: -4
ColumnLimit: 120

AlwaysBreakTemplateDeclarations: Yes
BreakAfterAttributes: Always
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
